### Validaciones

In [48]:
import pandas as pd
import re

men = ''

Cargando datos

In [58]:
try:
    with open("claves.sdf", "r") as archivo:
        df_claves = pd.DataFrame(columns=['lito_clave', 'tema_clave', 'solucion'])
        data_claves = archivo.readlines()
        for line in data_claves:
            lito = line[:6]
            tema = line[6]
            solucion = line[7:].replace('\n', '')
            df_claves = pd.concat([df_claves, pd.DataFrame({'lito_clave': [lito], 'tema_clave': [tema], 'solucion': [solucion]})], ignore_index=True)            
    print(df_claves)
except Exception as e:
    print('Hubo un error: ', e)

  lito_clave tema_clave                                           solucion
0     033872          A  TRRQRPRTRRQSTQTQPQQRQSQRQSSRTSTPQRTRPSTRRQQTRS...
1     033871          B  TTPTRTPTSSSTPTTSPPSQRRTQPRPRSPTTRTQQPPSPP STRR...
2     033874          C  PQQSQRQTTQRSRPPRPQTPRPPTSTPRSQQTTSPTSQTTTTRSQQ...
3     033873          D  PTRPRTRSTSSTSPSTPTQSRSQQQSQRQSRPSQPPRTRPRRTPPS...
4     033880          P  TPPRRTRSQSRQQSPRPRQRSQQTPTSSPTTPTTPRRQSSPQQSRQ...
5     033877          Q  PTRQPTPTSRQQQQQPSQQRPSRQSQTPPSPQPTRRPPQTTQQRRP...
6     033876          R  QPTSPSTSSTTQSTPQRSPSQTRPTRTPPSSQSRTTPPTTTPTTQS...
7     033875          S  QTRTSQSPSRRPSPRPPTRRRPPRTTRQRPSSSPTPQRQPQSSPPS...

In [59]:
try:
    with open("identifi.sdf", "r") as archivo:
        df_identifi = pd.DataFrame(columns=['lito', 'tema', 'codigo'])
        data_identifi = archivo.readlines()
        for linea in data_identifi:
            lito = linea[:6]
            tema = linea[6]
            codigo = linea[7:].replace('\n', '')
            df_identifi = pd.concat([df_identifi, pd.DataFrame({'lito': [lito], 'tema': [tema], 'codigo': [codigo]})], ignore_index=True)
    print(df_identifi)
except Exception as e:
    print('Hubo un error: ', e)

     lito tema  codigo
0  010486    C  350025
1  010515    D  306126
2  010484    P  326710
3  010498    D  302174
4  010512    B  320804
5  010510    B  316323
6  010487    S  318485
7  010482    D  312488
8  010483    Q  345033
9  010519    Q  308296

In [60]:
try:
    with open("respuestas.sdf", "r") as archivo:
        df_respuestas = pd.DataFrame(columns=['lito', 'tema', 'respuesta'])
        data_respuestas = archivo.readlines()
        for linea in data_respuestas:
            lito = linea[:6]
            tema = linea[6]
            respuesta = linea[7:].replace('\n', '')
            df_respuestas = pd.concat([df_respuestas, pd.DataFrame({'lito': [lito], 'tema': [tema], 'respuesta': [respuesta]})], ignore_index=True)
    print(df_respuestas)
except Exception as e:
    print('Hubo un error: ', e)

     lito tema                                          respuesta
0  010486    C  SR STQRRST R  P QSTQRPPTRTP RPQPTS SSTQSR R  Q...
1  010515    D  PQQPRQSPTSRSQRQRPTQPTTQPQTRRQ RPSPPPST P R QPQ...
2  010484    P     R          Q          TSSPTTPT PSRQSSRQTSRQ...
3  010498    D  PTR QPRSTSSTS STSQQS RQQQTQRQ RPSQ  RT PRR Q T...
4  010512    B  QTSQSQRTTPQRSRTQSRTQRSPQTPSQTPPRQTRTSRPTQTSPRP...
5  010510    B  Q TSPS S TTQS QQRS SQT PT   T SQ RTTP QT  PSQS...
6  010487    S     Q T T    Q     Q  SSPSQTPPRR PT RPPQTT PR P...
7  010482    D  T RP    R   TQ           SSSQ R TQSRR S QS SRS...
8  010483    Q  RTRQ              RS     PTRP T  RPQS SS QQSRQ...
9  010519    Q   PTQPSTSSTTQRTPQRSQSQTTSTPR TSTPT T P TPT   S ...

In [36]:
#TEMAS = 'FGHIJKLMNOPRSTUVXYZ'
tema = 'ABCDPQRS'
#patron = r'^[TRQS ]+$'

#### 1- Estructura: click en boton y muestre la fila que no cumple la condicion
CLAVES

In [37]:
# Verificando lito
lito_clave_esnum = pd.to_numeric(df_claves['lito_clave'], errors='coerce').notnull()
invalid_rows = df_claves[~lito_clave_esnum]
if invalid_rows.empty:
    men += 'Hecho\n'
else:
    men += 'Error en lito\n' + invalid_rows['lito_clave'].to_string(header=False) + '\n'

In [38]:
# Verificando tema
valid_tema = df_identifi['tema'].isin([i for i in tema])
invalid_rows = df_identifi[~valid_tema]
if invalid_rows.empty:
    men += 'Hecho\n'
else:
    men += 'Error en lito\n' + invalid_rows['tema'].to_string(header=False) + '\n'

In [39]:
# Verificando solucion
patronsito = 'TRQSP'
patron = r'^['+patronsito+' ]*$'

def validar_solucion_respuesta(solucion):
    if len(solucion) != 100:
        return False
    if re.match(r'^['+patronsito+' ]*$', str(solucion)) is None:
        return False
    return True

valid_rows = df_claves['solucion'].apply(validar_solucion_respuesta)
invalid_rows = df_claves[~valid_rows]

if invalid_rows.empty:
    men += 'Hecho\n'
else:
    men += 'Error en solucion\n' + invalid_rows['solucion'].to_string(header=False) + '\n'

IDENTIFI

In [40]:
# Verificando lito
valid_lito_identifi = pd.to_numeric(df_identifi['lito'], errors='coerce').notnull()
invalid_rows_lito_identifi = df_identifi[~valid_lito_identifi]
if invalid_rows_lito_identifi.empty:
    men += 'Hecho\n'
else:
    men += 'Error en lito\n' + invalid_rows_lito_identifi['lito'].to_string(header=False) + '\n'

In [41]:
# Verificando tema
valid_tema_identifi = df_identifi['tema'].isin([i for i in tema])
invalid_rows_tema_identifi = df_identifi[~valid_tema_identifi]
if invalid_rows_tema_identifi.empty:
    men += 'Hecho\n'
else:
    men += 'Error en tema\n' + invalid_rows_tema_identifi['tema'].to_string(header=False) + '\n'

In [42]:
# Verificando codigo
valid_codigo_identifi = pd.to_numeric(df_identifi['codigo'], errors='coerce').notnull()
valid_codigo_identifi_len = df_identifi['codigo'].apply(lambda x: len(x) == 6)
invalid_codigo_identifi = df_identifi[~valid_codigo_identifi]
invalid_codigo_identifi_len  = df_identifi[~valid_codigo_identifi_len]
invalid_rows_codigo_identifi = df_identifi[~(valid_codigo_identifi & valid_codigo_identifi_len)]
if invalid_rows_codigo_identifi.empty:
    men += 'Hecho\n'
else:
    men += 'Error en tema\n' + invalid_rows_codigo_identifi['codigo'].to_string(header=False) + '\n'

Respuestas

In [43]:
valid_lito_respuestas = pd.to_numeric(df_respuestas['lito'], errors='coerce').notnull()
valid_codigo_identifi_len = df_identifi['lito'].apply(lambda x: len(x) == 6)
invalid_lito_respuesta = df_respuestas[~valid_lito_respuestas]
if invalid_lito_respuesta.empty:
    men += 'Hecho\n'
else:
    men += 'Error en tema\n' + invalid_lito_respuesta['lito'].to_string(header=False) + '\n'

In [44]:
valid_tema_respuestas = df_respuestas['tema'].isin([i for i in tema])
invalid_rows_tema_respuestas = df_respuestas[~valid_tema_respuestas]
if invalid_rows_codigo_identifi.empty:
    men += 'Hecho\n'
else:
    men += 'Error en tema\n' + invalid_rows_codigo_identifi['tema'].to_string(header=False) + '\n'

In [45]:
valid_rows_respuestas = df_respuestas['respuesta'].apply(validar_solucion_respuesta)
invalid_rows_respuestas = df_respuestas[~valid_rows_respuestas]

if invalid_rows_respuestas.empty:
    men += 'Hecho\n'
else:
    men += 'Error en respuesta\n' + invalid_rows_respuestas['respuesta'].to_string(header=False) + '\n'
print(men)

Hecho
Hecho
Hecho
Hecho
Hecho
Hecho
Hecho
Hecho
Error en solucion
86      SQRRQTRTPTS* R SRQTTRPPPQTPPS QTRS TS QTRPRPQQ...
173     RTPT SQQSQRS PQP SQ T QRPR Q SS* Q  SRTSPQ T S...
195     QTQPRQPSRQTRSQPQTRTRRTSQTPSTPRPRSRQTPRTTQPQQSR...
233     STRSRRTQSQRSSPR PRRRQQPR  RQS RS QQP TSRQ STSQ...
236     TPPPPPQQQ*QTPRQSPRQSRPTQQRPRSRSQPQQQTTQT RQRTP...
323     TQQTTSPTRQQTRQPQSSQTSQQPPTSSRSPPSSTSSRTRTPRRQT...
380     PQSQPS QSQPQPPPSSSQTRTQPPSQS* QRQS T PQ R    Q...
492     SQRSTRPSPSQRTSPS   RQRQ QTPRTQTQT*RRSSPRP TRQT...
572     S SRRR       PRPTRPRT QSPT*RQTTTSRRRPQ  SR Q  ...
578     STRQSRSPSRSPSSP PRRTRSPQPRQQRQ QRRTQ QS QQ QSQ...
579     QQTQP*PQQRRPPRQRRSRTQTTTPTPPPTPPQQQQQSSSSSTRRT...
604     RSTRPSTS RTSSTPTRSPSQTRSTSSSSSSSSS*SSSSSSSSSSS...
624     SRPQTPTRPTTRQPRSRQQRSQSTPRQPRSRTTQSTSQPQRRTPQR...
701     TPS QQT QT  RTRPS QPTR T QRPTS  SP    STSR QSS...
1009    SQSQSTQRTPPQPRPSQRTRRQP TP  SRQPSPPTSQSTQPRTPT...
1030    TTRQSQTPSRTQTP  PSS* T QS  R      Q  SS   TPS ...
1082    S      Q     RR        R QSPPSP RTQ PTTQ*PT PS...
1125     P P       RPQP T Q   Q  Q SSR  QPQQQQSRR TSRQ...
1226    TR SSQSQS SPSPTQPTRR TRR QSR Q RTSQSQSP P STSP...
1308    SSQS RT   QTQR  PRRTQR T        Q  R RT     S ...
1383      PQ   R  QQPTQ R RSQT  T R *  T    Q    R   Q...
1400    QQTRPQPPQQPQPPPPPQRTSQPPQQPQSQQPPRQTSRTQSQTPRQ...
1430    TT PPPRPPTSRSPSTPPQSSSQTQTPRQSRPPPPPSTQPRSPPPP...
1472    TPRTPTRSQQRPSSSSQRTRQRTSTQQQQSQSQSPRPTTTTTQPTR...
1507    QSTPTS SSQRQSPTRSS SQ RSS R S RSS S Q S Q QRT ...
1568    PRQQPSRSQSRS QSRS QSTS STQSRP SPPQ PSQ PRQ  RT...
1582    QSQQPRQTQSQSTPPRQSSRR*PRPQPPQPRTSSSRTQRRSSRTTR...
1616    PQSRQPPTTRPQR RRP RRRPPTSTP S QTTS SSTT S RT Q...
1632    PQQPSRTPSRTTQSQTQRPRPTQRQRSTPQTQPQPSPRTTTTPRTP...
1660    TRQSRTS RQ SPRPSPSRQTRQQ TSRPSPPQRPPQQSQQQRPTP...
1773     PTS STS T  SPQ RS SQT PT  PPP QSPRRPTTQQQTRTR...
1785    TTP     TR Q    P   Q  Q PQPPP*    TTTTT      ...
1799    TQQPQSPTTRRRTQPRPSPTQRRRTQPTSTQSTPPPPQSQPQRTRQ...
1805    RRTQR PTSQQPRSPRQSPTSPTQRSQ SPPTTRPTS QQRTP  Q...
1835    RPQQTQT   Q   RT        SSRRPSPPPR*RP Q P  PT ...
1842    PSQPPRRSTQPQRQPSPSPSRPP RSPPRTQTTT  RQTQRQSPTQ...
1949      RQ P  P PSQQ PQQQTTT  PRSSSRRQQRTPQRTSQQQSPQ...
1984    TPQR RP SPTR*SQSPQRRPQSPRTSS TQTPQPPQ S  Q SRQ...
1986      RQQRTTSRRR Q RSSQ PPRRSRTRPRRTPRTRQPRSTSQRRT...
1992    SRRPRQSPQSRSSPQSPRSQTQQSQSSRQPQSSS RRS SRSQTQQ...
2045    RRS Q Q R  S   PSQ P  Q  QQP RR*  S  TT QRQ R ...
2060    R RTTPQPRPP P S TTQ S SP RTQPRPQPTTRPPQSQQPRQT...
2105    PSTSRTSQRQPPTTQSTSQTQSRSPRPRRPRTQQQPTTSPQQQSTQ...
2138    SRRT*SQTPRQPQRRRPTTRSRQRRPQQSQQTQRQRQTPSSPTQSQ...
2175    RSRTPRRTTTRPRRQPR R*RRPRQRPQSPTPTTPT TTTSTRQQT...
2198    RSQS PPTT  QRPSQTSSRRPRTQSSQRQQTST RTPP T TP R...
2215    R RPRSPS R S   QTQT      SSSP TSSQSQSQSP QQSSQ...
2218    PQRQRQRPTSRTQPS*SQQSPSQQRSRSPQRPPQ  RS PRT PSQ...
2276    QQQSSPSSTTSRTQPQQRSRTSQQRSSS TPPPPPQQQS PQQSRQ...
2329    RQQSQ  TTP    PR PTR RPR SQ   QTTR TSRTTSQRQQT...
2440    PTRRPTTTSRQQQQQPSQQRPSRTSQTPPSPQPTRRPPQTTQPRRP...
2475    QQPQPSPSQTSQPQPQPQPTRRRQPPSTPSQSPPPRQTSSTPQSSR...
2490    PQQTQTQSTQPPRRPRSPTPRRPTSSQSSQQPPSPTSQTTT RSPQ...
2618    SSSRPQRSSQQRRQRPPSPPQQRPPSRSSSQQPTRSPRRTRTSRPP...
2664    STTPSQQSQQQTSP  PTTTTPQRPPQ  SQS PRSQRS P P TR...
2683    RSPQRPSRTQSPQRQPSPTRTSQQRRQPPSPSTQRPSRSRPQQSQS...
2687    TQQRTT TTQQPQQQPPQSRQ SQPQQSPSTSTPPTRRSTQQQSRS...
2705     QRS  R      Q           PP*RS  TPPRR    Q P  ...
2714    R      SRS   P TRTPRQPSRQPQPQRTQSTR S TQSPRQ Q...
2718    PQQRSQQTSQ*  RPRRP PRPPTQRQ STQTTS TSPT STR   ...
2731    QSR S SPSRPPSP  PRRTTQ R   R         SS     * ...
2740    P*RQQQPP RRPSPP PRRRRPPQRS RT R     S  Q  SPQ ...
2800    QPSQR* QSQPRSS*PRRQTPRQSQTPRSPTPSQRSRRSQPRQPTR...

## VALIDAR DUPLICADOS CODIGOS POSTULANTES

In [46]:
try:
    with open("identifi.sdf", "r") as archivo:
        df_identifi = pd.DataFrame(columns=['lito', 'tema', 'codigo'])
        data_identifi = archivo.readlines()
        for linea in data_identifi:
            lito = linea[:6]
            tema = linea[6]
            codigo = linea[7:13]
            df_identifi = pd.concat([df_identifi, pd.DataFrame({'lito': [lito], 'tema': [tema], 'codigo': [codigo]})], ignore_index=True)
except Exception as e:
    print('Hubo un error: ', e)

In [47]:
print(df_identifi)

        lito tema  codigo
0     010486    A  350025
1     010515    R  306126
2     010484    C  326710
3     010498    S  302174
4     010512    B  320804
...      ...  ...     ...
2790  010476    S  302513
2791  010450    P  315200
2792  010477    Q  313809
2793  010449    R  305953
2794  010474    S  304378

[2795 rows x 3 columns]

In [48]:
duplicados = df_identifi.duplicated(subset=['codigo'])
if duplicados.any():
    print("Hay duplicados en la columna 'codigo'")
else:
    print("No hay duplicados en la columna 'codigo'")

No hay duplicados en la columna 'codigo'

In [49]:
duplicados = df_identifi.duplicated(subset=['codigo'], keep=False)

if duplicados.any():
    print("Se encontraron duplicados en la columna 'codigo':\n")
    for codigo in df_identifi[duplicados]['codigo'].unique():
        df_duplicados = df_identifi[df_identifi['codigo'] == codigo]
        if len(df_duplicados) > 1:
            print(df_duplicados)
else:
    print("No se encontraron duplicados en la columna 'codigo'")

No se encontraron duplicados en la columna 'codigo'

In [50]:
duplicados = df_identifi.duplicated(subset=['codigo'], keep=False)

if duplicados.any():
    print("Se encontraron duplicados en la columna 'codigo':\n")
    datos_duplicados = {}
    for codigo, df_codigo in df_identifi[duplicados].groupby('codigo'):
        if len(df_codigo) > 1:
            datos_duplicados[codigo] = {'lito': [], 'tema': [], 'indices': []}
            for idx, fila in enumerate(df_codigo.itertuples(), start=1):
                datos_duplicados[codigo]['lito'].append(fila.lito)
                datos_duplicados[codigo]['tema'].append(fila.tema)
                datos_duplicados[codigo]['indices'].append(fila.Index)
            print(pd.DataFrame({'lito': datos_duplicados[codigo]['lito'], 'tema': datos_duplicados[codigo]['tema'], 'codigo': [codigo]*len(df_codigo), 'fila': datos_duplicados[codigo]['indices']}))
else:
    print("No se encontraron duplicados en la columna 'codigo'")

No se encontraron duplicados en la columna 'codigo'

In [51]:
duplicados = df_identifi.duplicated(subset=['codigo'], keep=False)

if duplicados.any():
    print("Se encontraron duplicados en la columna 'codigo':\n")
    datos_duplicados = {}
    for codigo, df_codigo in df_identifi[duplicados].groupby('codigo'):
        if len(df_codigo) > 1:
            datos_duplicados[codigo] = {'lito': [], 'tema': [], 'indices': []}
            for idx, fila in enumerate(df_codigo.itertuples(), start=1):
                datos_duplicados[codigo]['lito'].append(fila.lito)
                datos_duplicados[codigo]['tema'].append(fila.tema)
                datos_duplicados[codigo]['indices'].append(fila.Index)
            df_duplicados = pd.DataFrame({'lito': datos_duplicados[codigo]['lito'], 'tema': datos_duplicados[codigo]['tema'], 'codigo': [codigo]*len(df_codigo)})
            print(df_duplicados[['lito', 'tema', 'codigo']])     
else:
    print("No se encontraron duplicados en la columna 'codigo'")

No se encontraron duplicados en la columna 'codigo'

In [52]:
duplicados = df_identifi.duplicated(subset=['codigo'], keep=False)

if duplicados.any():
    print("Se encontraron duplicados en la columna 'codigo':\n")
    datos_duplicados = {}
    for codigo, df_codigo in df_identifi[duplicados].groupby('codigo'):
        if len(df_codigo) > 1:
            datos_duplicados[codigo] = {'lito': [], 'tema': [], 'indices': []}
            for idx, fila in enumerate(df_codigo.itertuples(), start=1):
                datos_duplicados[codigo]['lito'].append(fila.lito)
                datos_duplicados[codigo]['tema'].append(fila.tema)
                datos_duplicados[codigo]['indices'].append(fila.Index)
            df_duplicados = pd.DataFrame({'lito': datos_duplicados[codigo]['lito'], 'tema': datos_duplicados[codigo]['tema'], 'codigo': [codigo]*len(df_codigo), 'fila': datos_duplicados[codigo]['indices']})
            df_duplicados = df_duplicados[['lito', 'tema', 'codigo', 'fila']]
            print(df_duplicados)
else:
    print("No se encontraron duplicados en la columna 'codigo'")

No se encontraron duplicados en la columna 'codigo'

## VALIDAR DUPLICADOS DE LITOS

In [53]:
print(df_identifi)
print(df_respuestas)

        lito tema  codigo
0     010486    A  350025
1     010515    R  306126
2     010484    C  326710
3     010498    S  302174
4     010512    B  320804
...      ...  ...     ...
2790  010476    S  302513
2791  010450    P  315200
2792  010477    Q  313809
2793  010449    R  305953
2794  010474    S  304378

[2795 rows x 3 columns]
        lito tema                                          respuesta
0     033916    C  SR STQRRST R  P QSTQRPPTRTP RPQPTS SSTQSR R  Q...
1     033884    D  PQQPRQSPTSRSQRQRPTQPTTQPQTRRQ RPSPPPST P R QPQ...
2     033919    P     R          Q          TSSPTTPT PSRQSSRQTSRQ...
3     033910    D  PTR QPRSTSSTS STSQQS RQQQTQRQ RPSQ  RT PRR Q T...
4     033892    C  QTSQSQRTTPQRSRTQSRTQRSPQTPSQTPPRQTRTSRPTQTSPRP...
...      ...  ...                                                ...
2796  011846    P  TSR  T  Q  RQPQ TRTP  P  TSRTP P QPQR S Q QSR ...
2797  011844    B  Q              P        SQ STPS RQS   S RQ R  ...
2798  011845    C    QTPPQTR P   QRPP RSPPTTTP S QTTS  TTQ Q R  Q...
2799  011843    D  PSQQRQSP SRTQTQPSRQSSQ QSTSRP RPTQPPRT PRR PTR...
2800  011842    A  QPSQR* QSQPRSS*PRRQTPRQSQTPRSPTPSQRSRRSQPRQPTR...

[2801 rows x 3 columns]

### Validacion duplicado lito identifi

In [54]:
duplicados = df_identifi.duplicated(subset=['lito'], keep=False)

if duplicados.any():
    print("Se encontraron duplicados en la columna 'lito':\n")
    datos_duplicados = {}
    for lito, df_lito in df_identifi[duplicados].groupby('lito'):
        if len(df_lito) > 1:
            datos_duplicados[lito] = {'codigo': [], 'tema': [], 'indices': []}
            for idx, fila in enumerate(df_lito.itertuples(), start=1):
                datos_duplicados[lito]['codigo'].append(fila.codigo)
                datos_duplicados[lito]['tema'].append(fila.tema)
                datos_duplicados[lito]['indices'].append(fila.Index)
            df_duplicados = pd.DataFrame({'codigo': datos_duplicados[lito]['codigo'], 'tema': datos_duplicados[lito]['tema'], 'lito': [lito]*len(df_lito), 'fila': datos_duplicados[lito]['indices']})
            df_duplicados = df_duplicados[['lito', 'tema', 'codigo', 'fila']]
            print(df_duplicados)
else:
    print("No se encontraron duplicados en la columna 'lito'")

Se encontraron duplicados en la columna 'lito':

     lito tema  codigo  fila
0  010510    B  316323     5
1  010510    B  314369    48

### Validación duplicado lito respuesta

In [55]:
duplicados = df_respuestas.duplicated(subset=['lito'], keep=False)
print(duplicados)
print(duplicados.any())
if duplicados.any():
    print("Se encontraron duplicados en la columna 'lito':\n")
    datos_duplicados = {}
    for lito, df_lito in df_respuestas[duplicados].groupby('lito'):
        if len(df_lito) > 1:
            datos_duplicados[lito] = {'tema': [], 'respuestas': [], 'indices': []}
            for idx, fila in enumerate(df_lito.itertuples(), start=1):
                datos_duplicados[lito]['tema'].append(fila.tema)
                datos_duplicados[lito]['respuestas'].append(fila.respuesta)
                datos_duplicados[lito]['indices'].append(fila.Index)
            df_duplicados = pd.DataFrame({'lito': [lito]*len(df_lito), 'tema': datos_duplicados[lito]['tema'], 'respuestas': datos_duplicados[lito]['respuestas'], 'fila': datos_duplicados[lito]['indices']})
            df_duplicados = df_duplicados[['lito', 'tema', 'respuestas', 'fila']]
            print(df_duplicados)
else:
    print("No se encontraron duplicados en la columna 'lito'")

0       False
1       False
2       False
3       False
4       False
        ...
2796    False
2797    False
2798    False
2799    False
2800    False
Length: 2801, dtype: bool
False
No se encontraron duplicados en la columna 'lito'

In [61]:
df_claves

  lito_clave tema_clave                                           solucion
0     033872          A  TRRQRPRTRRQSTQTQPQQRQSQRQSSRTSTPQRTRPSTRRQQTRS...
1     033871          B  TTPTRTPTSSSTPTTSPPSQRRTQPRPRSPTTRTQQPPSPP STRR...
2     033874          C  PQQSQRQTTQRSRPPRPQTPRPPTSTPRSQQTTSPTSQTTTTRSQQ...
3     033873          D  PTRPRTRSTSSTSPSTPTQSRSQQQSQRQSRPSQPPRTRPRRTPPS...
4     033880          P  TPPRRTRSQSRQQSPRPRQRSQQTPTSSPTTPTTPRRQSSPQQSRQ...
5     033877          Q  PTRQPTPTSRQQQQQPSQQRPSRQSQTPPSPQPTRRPPQTTQQRRP...
6     033876          R  QPTSPSTSSTTQSTPQRSPSQTRPTRTPPSSQSRTTPPTTTPTTQS...
7     033875          S  QTRTSQSPSRRPSPRPPTRRRPPRTTRQRPSSSPTPQRQPQSSPPS...

In [62]:
df_identifi

     lito tema  codigo
0  010486    C  350025
1  010515    D  306126
2  010484    P  326710
3  010498    D  302174
4  010512    B  320804
5  010510    B  316323
6  010487    S  318485
7  010482    D  312488
8  010483    Q  345033
9  010519    Q  308296

In [63]:
df_respuestas

     lito tema                                          respuesta
0  010486    C  SR STQRRST R  P QSTQRPPTRTP RPQPTS SSTQSR R  Q...
1  010515    D  PQQPRQSPTSRSQRQRPTQPTTQPQTRRQ RPSPPPST P R QPQ...
2  010484    P     R          Q          TSSPTTPT PSRQSSRQTSRQ...
3  010498    D  PTR QPRSTSSTS STSQQS RQQQTQRQ RPSQ  RT PRR Q T...
4  010512    B  QTSQSQRTTPQRSRTQSRTQRSPQTPSQTPPRQTRTSRPTQTSPRP...
5  010510    B  Q TSPS S TTQS QQRS SQT PT   T SQ RTTP QT  PSQS...
6  010487    S     Q T T    Q     Q  SSPSQTPPRR PT RPPQTT PR P...
7  010482    D  T RP    R   TQ           SSSQ R TQSRR S QS SRS...
8  010483    Q  RTRQ              RS     PTRP T  RPQS SS QQSRQ...
9  010519    Q   PTQPSTSSTTQRTPQRSQSQTTSTPR TSTPT T P TPT   S ...

# CALIFICAR

In [75]:
correcta = 20
incorrecta = 1.250
nula = 0
puntaje = 0

# DataFrame con los resultados
df_result = pd.DataFrame(columns=['lito', 'tema', 'puntaje', 'correctas', 'incorrectas', 'vacias'], index=range(len(df_respuestas)))

for i in range(len(df_respuestas)):
    var_respuesta = df_respuestas.iloc[i, 2]
    puntaje = 0
    
    # Contadores de correctas, incorrectas, nulas
    num_cor = 0
    num_inc = 0
    num_bla = 0

    # Un bucle para comparar las respuestas con las claves
    for j in range(len(df_claves)):
        var_claves = df_claves.iloc[j, 2]
        if df_respuestas.iloc[i,1] == df_claves.iloc[j,1]:
            for k in range(len(var_respuesta)):
                if var_claves[k] == " ":
                    puntaje += correcta
                elif var_respuesta[k] == var_claves[k]: 
                    puntaje += correcta
                    num_cor += 1
                elif var_respuesta[k] == " ":
                    puntaje += nula
                    num_bla += 1
                else:
                    puntaje -= incorrecta
                    num_inc += 1
    df_result.iloc[i] = [df_respuestas.iloc[i,0], df_respuestas.iloc[i,1], puntaje, num_cor, num_inc, num_bla]

# Se hace un merge de DataFrames -> identifi & result
df_final = pd.merge(df_identifi, df_result, on=['lito', 'tema'])

# Se cambia el orden a descendente -> puntaje
df_final = df_final.sort_values('puntaje', ascending=False)

print(df_final)
# # Se crean grupos de DataFrames
# groups = df_final.groupby(df_final.tema)
# df_final.to_csv('General.csv', index=False, sep=",")

     lito tema  codigo puntaje correctas incorrectas vacias
3  010498    D  302174   880.0        45          16     39
2  010484    P  326710  823.75        42          13     45
1  010515    D  306126  583.75        32          45     23
0  010486    C  350025  333.75        19          37     44
9  010519    Q  308296   297.5        19          66     15
4  010512    B  320804  278.75        18          81      0
8  010483    Q  345033   235.0        14          36     50
7  010482    D  312488  233.75        14          37     49
5  010510    B  316323   137.5        10          66     23
6  010487    S  318485   107.5         8          42     50

### conexion

In [76]:
import pyodbc

In [77]:
cnxn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=LAPTOP-8LNIGLG0;"
            "Database=Admission;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)

In [78]:
# consulta SQL para obtener la tabla
sql = "SELECT Id, Nombre, codigo, escuela FROM Alumnos"

# leer la tabla en un dataframe de Pandas
df_sql = pd.read_sql(sql, cnxn)

# cerrar la conexión con la base de datos
cnxn.close()

C:\Users\estilos\AppData\Local\Temp\ipykernel_11428\1506118687.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sql = pd.read_sql(sql, cnxn)

In [79]:
df_sql

   Id   Nombre  codigo   escuela
0  11   alvaro  318485  sistemas
1  12  alvaro1  302174  sistemas
2  13  alvaro2  326710     conta
3  14  alvaro3  306126      dere
4  15  alvaro4  350025      algo
5  16  alvaro5  308296    sistem
6  17  alvaro6  320804   sistem2
7  18  alvaro7  345033   sistem3
8  19  alvaro8  312488   sistem4
9  20  alvaro9  316323   sistem6

In [83]:
# unir los dataframes utilizando la columna "codigo" como clave de unión
df_merged = pd.merge(df_final, df_sql[['Nombre','codigo', 'escuela']], on='codigo', how='left')

In [84]:
df_merged

     lito tema  codigo puntaje correctas incorrectas vacias   Nombre   escuela
0  010498    D  302174   880.0        45          16     39  alvaro1  sistemas
1  010484    P  326710  823.75        42          13     45  alvaro2     conta
2  010515    D  306126  583.75        32          45     23  alvaro3      dere
3  010486    C  350025  333.75        19          37     44  alvaro4      algo
4  010519    Q  308296   297.5        19          66     15  alvaro5    sistem
5  010512    B  320804  278.75        18          81      0  alvaro6   sistem2
6  010483    Q  345033   235.0        14          36     50  alvaro7   sistem3
7  010482    D  312488  233.75        14          37     49  alvaro8   sistem4
8  010510    B  316323   137.5        10          66     23  alvaro9   sistem6
9  010487    S  318485   107.5         8          42     50   alvaro  sistemas

In [101]:
####
df = df_merged.loc[:, ['codigo', 'Nombre', 'escuela','puntaje']]
####




groups = df.groupby(df.escuela)
s_sistemas = groups.get_group("sistemas")
s_sistemas.insert(0, 'orden', range(1, len(s_sistemas)+1))
s_sistemas.to_csv('s_sistemas.csv', index=False, sep=",")

In [102]:
s_sistemas

   orden  codigo   Nombre   escuela puntaje
0      1  302174  alvaro1  sistemas   880.0
9      2  318485   alvaro  sistemas   107.5

In [86]:
s_sistemas

     lito tema  codigo puntaje correctas incorrectas vacias   Nombre   escuela
0  010498    D  302174   880.0        45          16     39  alvaro1  sistemas
9  010487    S  318485   107.5         8          42     50   alvaro  sistemas